@using DevExtreme.AspNet.Mvc
@using ModelsProject;
@using UtilitiesProject;

@model List<Schools>
@{
	ViewData["Title"] = "Reusable Components";
}

<div class="row">
	@(Html.IPSButton("Button 1", "button1"))
	@(Html.IPSButton("Button 2", "button2"))
	@(Html.IPSButton("Button 3", "button3").SetDefaults())
</div>
<div class="row">
	
</div>
