<header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
		<div class="container-fluid">
			<div class="navbar-collapse collapse d-sm-inline-flex justify-content">
				<ul class="navbar-nav flex-grow-1">
					@*  <li class="nav-item">
					<a class="nav-link text-dark" asp-area="" asp-controller="Components" asp-action="Index">Components</a>
					</li> *@
					<li class="nav-item-sub">
						<a class="nav-link text-dark" asp-area="" asp-controller="Components" asp-action="Buttons">Buttons</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Components" asp-action="DataGrid">DataGrid</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Components" asp-action="Tabs">TabPanel</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Components" asp-action="NavMenu">Menu</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>