@using ModelsProject

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Reusable DataGrid Components";
}
<div class="nav-fill">
	<partial name="_Menu" />
</div>

<hr />
<div class="border-solid">
	<h3 class="content-block">Custom DataGrid call</h3>
	<partial name="DataGrid/_MultipleGridComponents" />
</div>
<hr />
<div class="border-solid">
	<h3 class="content-block">Custom DataGrid with search panel</h3>
	<partial name="DataGrid/_CustomSearchDataGridComponents" />
</div>


