@using ModelsProject

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Reusable TreeView Components";
}
<div class="nav-fill">
	<partial name="_Menu" />
</div>

<hr />
<div class="border-solid" style="height:20% !important; width:30% !important;">
	<h3 class="content-block">Default TreeView</h3>
	<partial name="TreeView/_DefaultTreeViewComponents" />
</div>

